{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row {{ product.isAdultContent ? 'alert-danger' : 'alert-success'}}">
        <div class="col-12">
            <h1>Produit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>{{ product.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ product.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ product.author.username }}</p>
        </div>
    </div>
{% endblock %}
